

#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  position: fixed;
  border-bottom: black 1px solid;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: ivory;
  z-index: 1000;
}

.navbar a {
  padding: 1rem 1rem;
}

.main{
  padding-top: 3rem;
  font-size: 1.25rem;
}


p {
  text-align: left
}

.paragraph {
  width: 80%;
  padding-left: 15rem;
}

.nav-logo:hover {
  color: darkgray;
}

.nav-links> :hover{
  color: darkgray ;
}
